.mgnl-reset {
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : Helvetica, Arial, sans-serif;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
}

.jason {
  cursor: pointer;
}

.conor {
  position: absolute;
  z-index: 1000;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #cccccc;
  width: 400px;
  height: 200px;
  opacity: 0.5;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 10px #555;
  box-shadow: 1px 1px 10px #555;
}

.conor-li {
  font-size: 0.8em;
  padding: 1em;
  color: #222;
  margin: 0.5em 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.conor-li:nth-child(odd) {
  background: #D3FBFF;
}

.conor-li:nth-child(even) {
  background: #D3FFEA;
}

.stephanie-input, .stephanie-button {
  font-family : Helvetica, Arial, sans-serif !important;
  font-size: 0.8em;
  padding: 0.6em 1em;
}

.stephanie-input {
  border: 1px solid #b4b4b4;
  margin: 0.5em 0;
  padding: 1em;
  display: block;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-shadow: -1px -1px -1px #9c9c9c;
  box-shadow: -1px -1px 1px #9c9c9c;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.stephanie-button {
  margin: 0 0 0.5em 0;
  float: right;
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: rgb(2, 175, 134);
  border: 1px solid rgb(0, 148, 113);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px rgb(0, 160, 122);
  box-shadow: 1px 1px 2px rgb(0, 160, 122);
}

.stephanie-input:focus {
  outline: 0 !important;
  border: 0 !important;
}

.stephanie-button:hover {
  background: rgb(0, 162, 123);
}

.mgnl-highlight {
  background-color: yellow;
}

.mgnl-underline {
  border-bottom: 1px dotted #444;
}

.jason-mgnl-highlight {
  background-color: cornsilk;
}